---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import TopLayout from "../../layouts/TopLayout.astro";
import VideoGif from "../../components/videoGif.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props as Props;
const { Content } = await render(post);
---

<PageLayout>
  <TopLayout post={post} />
  <article
    class="w-full h-full max-w-3xl mx-auto flex flex-col justify-center items-center"
  >
    <div class="w-full h-full text-texto-artigo">
      <!--
        <VideoGif src={post.data.videoPreview} class="w-full h-80" />
      -->
      <Content />
    </div>
  </article>
</PageLayout>
