@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

:root {
  color-scheme: dark;
  --cor-fundo: #000000;
  --cor-texto: #ffffff;
}

.light {
  color-scheme: light;
  --cor-fundo: #ffffff;
  --cor-texto: #000000;
}

@theme inline {
  --font-display: "Inter", sans-serif;
  --font-code: "Courier Prime", monospace;
  --color-fundo: var(--cor-fundo);
  --color-texto: var(--cor-texto);

  /* Animação Hero */
  --animate-fade-slide-up: fade-slide-up 1.2s cubic-bezier(0.16, 1, 0.3, 1)
    forwards;
  --animate-fade-slide-up-delay-1: fade-slide-up 1.2s
    cubic-bezier(0.16, 1, 0.3, 1) 0.3s forwards;
  --animate-fade-slide-up-delay-2: fade-slide-up 1.2s
    cubic-bezier(0.16, 1, 0.3, 1) 0.5s forwards;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  body {
    @apply bg-fundo text-texto font-display;
  }
}
