---
import { SITE } from "../consts";
---

<header>
  <div class="flex flex-row w-full pt-4 pb-4">
    <div class="flex w-full max-w-3xl mx-auto justify-between items-center">
      <!-- Site Logo -->
      <div class="flex flex-row text-2xl">
        <p class="text-blue-500 font-code">&gt;_</p>
        <p class="text-texto font-code">Tony</p>
      </div>

      <!-- Navigation -->
      <nav>
        <ul class="flex flex-row gap-4 text-sm">
          <li><a href="/">Home</a></li>
          <li><a href="/Blog">Blog</a></li>
          <li><a href="/Projects">Projects</a></li>
          <li><a href="/About">About</a></li>
        </ul>
      </nav>

      <!-- Buttons-->
    </div>
  </div>
</header>
